a {
    color: #211F54;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 118px;
    left: 0%;
    right: 0%;
    top: 0px;
    color: #fff;
    font-family: 'Roboto', sans-serif;



}

.header_section {
    display: flex;

}

.header_item {
    padding-top: 44px;
    padding-right: 22px;
    padding-bottom: 44px;
    padding-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #211F54;
}

.headerlogo {
    padding-left: 110px;
    padding-right: 40px;
    color: #211F54;
    font-size: 19px;

}


/* Правая часть */
.header_item1 {
    padding-top: 44px;
    padding-left: 280px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #211F54;

}

.header_item2 {
    padding-top: 48px;
    padding-left: 2px;
    padding-right: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #211F54;
}

@import url(https: //img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=2000);




.border {

    padding-top: 32px;
    padding-left: 24px;
    padding-right: 110px;
    border: #0075FF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;


}

a.button {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    border-radius: 14px;
    width: 174px;
    height: 54px;
    cursor: pointer;


}