
a {
    color: #211F54;
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 118px;
    left: 0%;
    right: 0%;
    top: 0px;
    color: #fff;




}

.header_section {
    display: flex;

}

.header_item {
    padding-top: 44px;
    padding-right: 22px;
    padding-bottom: 44px;
    padding-left: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #211F54;
}

.headerlogo {
    padding-left: 110px;
    padding-right: 40px;
    color: #211F54;
    font-size: 19px;

}


/* Правая часть */
.header_item1 {
    padding-top: 44px;
    padding-left: 280px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #211F54;

}

.header_item2 {
    padding-top: 48px;
    padding-left: 2px;
    padding-right: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #211F54;
}

@import url(https: //img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?w=2000);




.border {

    padding-top: 32px;
    padding-left: 24px;
    padding-right: 110px;
    border: #0075FF;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    font-style: normal;
    font-weight: 400;


}

a.button {
    display: inline-block;
    background: #2196f3;
    color: #fff;
    border-radius: 14px;
    width: 174px;
    height: 54px;
    cursor: pointer;


}

/* Main container */
.main__contact_item {
    position: absolute;
    height: 72px;
    left: 0%;
    right: 0%;
    top: 292px;
    width: 678px;
    padding-left: 110px;
    padding-bottom: 140px;
    padding-right: 40px;
    padding-top: 34px;
}

.main-content {
    position: absolute;
    height: 734px;
    left: 0%;
    right: 0%;
    top: 118px;
}

.abount-me-container {
    height: 364px;
    left: 7.64%;
    right: 45.28%;
    top: 230px;
}

.my-profesion {
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 74px;
    color: #211F54;
    padding-left: 110px;
    width: 518px;
    height: 148px;
    top: -3px;


}

.my-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #6E7191;
    padding: 22px 19px 34px 110px;
    width: 400px;
    font-size: 21px;
    line-height: 30px;
    position: absolute;
    height: 91px;
    left: 0%;
    right: -10.26%;
    top: 167px;
}

/* Contacts */
.border1 {

    position: absolute;
    height: 72px;
    left: 0%;
    right: 67.99%;
    top: calc(50% - 72px/2);
    width: 217px;
    padding-left: 110px;
    padding-top: 40px;
    padding-right: 28px;
    padding-bottom: 140px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;

}

.contacts-container {
    position: absolute;
    height: 72px;
    left: 36.14%;
    right: 17.99%;
    top: calc(50% - 72px/2);
    padding-left: 28px;
}

.contacts-type {
    position: absolute;
    padding-left: 28px;
    padding-top: 32px;
    width: 72px;
    height: 72px;
}


.sidebar-title {
    position: absolute;
    height: 18px;
    left: 0%;
    right: 44.39%;
    top: -1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    color: #6E7191;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 153px;
    width: 124px;

}

/* img */
.img__clean {
    position: absolute;
    width: 720px;
    height: 734px;
    right: 0px;
    top: 0px;
    border-radius: 0px;
  
    
}

.contacts-item {
    position: static;
    height: 36px;
    padding-left: 116px;
    padding-top: 25px;
    width: 223px;

}

.contacts-namber {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #211F54;

}
/* main conteiner 2 */
.main-content2 {

    position: absolute;
    height: 718px;
    left: 86px;
    right: 86px;
    top: 1092px;
    width: 1268px;
}

.my-profesion2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
  color: #211F54;
  
}
.section-title2 {
    position: absolute;
    width: 531px;
    height: 58px;
    left: calc(50% - 531px/2 + 0.5px);
    top: -1px;
}

.my-descr2 {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px; 
    text-align: center;
    color: #6E7191;
}
.my_descr2 {
    position: absolute;
    width: 648px;
    height: 61px;
    left: calc(50% - 648px/2);
    top: 78px; 
}
.main__contact_item2 {
 position: absolute;
 height: 392px;
 top: 197px;
 width: 1220px;
 padding: 64px 24px 56px 24px ;

}
.contacts-container2 {
    position: absolute;
    height: 392px;
    left: 0.57%;
    right: 68.77%;
    top: 0px;
    width: 374px;
}
.contacts-type2 {
    position: absolute;
    width: 240px;
    height: 240px;
    left: calc(50% - 240px/2);
    top: calc(50% - 240px/2 - 76px);
 border-radius: 0px;
}
.title2 {

    position: absolute;
    width: 237px;
    height: 36px;
    left: calc(50% - 237px/2 + 0.5px);
    top: 279px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center; 
    color: #211F54;
    white-space: nowrap
}

.desktiption {
    position: absolute;
    width: 412px;
    height: 61px;
    left: calc(50% - 412px/2);
    top: 331px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    text-align: center; 
    color: #6E7191;
}
.contacts-container2_2 {
    position: absolute;
    height: 392px;
    left: 34.67%;
    right: 34.67%;
    top: 0px;
    width: 374px;
}
.contacts-container2_3 {
    position: absolute;
    height: 392px;
    left: 68.77%;
    right: 0.57%;
    top: 0px;
    width: 374px;
}
.tile2_3 {
    position: absolute;
    width: 340px;
    height: 36px;
    left: calc(50% - 340px/2);
    top: 279px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #211F54;
}
.border2 {
    position: absolute;
    height: 95px;
    top: 645px;
    padding: 57px 732px 0 491px;
    text-align: center;
    line-height: 50px;

   
}
button {
    position: absolute;
    width: 217px;
    height: 72px;
    left: calc(50% - 217px/2 - 120.5px);
    top: calc(50% - 72px/2 + 0.5px);
   
    
}
.bord2 {
position: absolute;
width: 136px;
height: 20px;
left: calc(50% - 4px/2);
top: calc(50% - 20px/2 - 0.5px);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 2px;
text-align: center;
color: #211F54;
}

/*  main conteiner 3*/
.main_content3 {
    position: absolute;
    height: 904px;
    left: 5.97%;
    right: 5.97%;
    top: 2291px;
    padding: 481px 86px 240px 86px;
    
}
.main_blokk3 {
    position: absolute;
    height: 190px;
    left: 23.82%;
    right: 23.82%;
    top: 0px;
    
}
.section-title3 {
    position: absolute;
    width: 608px;
    height: 116px;
    left: calc(50% - 608px/2);
    top: 0px;
    
}
.paragraf-van3 {
    position: absolute;
    width: 702px;
    height: 61px;
    left: calc(50% - 702px/2);
    top: 152px; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: center;  
    color: #6E7191;
}
.contacts-type3 {
    position: absolute;
    height: 72px;
    left: 20.43%;
    right: 20.43%;
    top: 222px;
    width: 750px;

}
.main_blok3_1 {
    position: absolute;
    height: 72px;
    left: 0%;
    
}
.img3_1 {
    position: absolute;
    height: 72px;
    filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
    border-radius: 7px;
    padding: 32px 15px 40px 0px;
}
.typ3_1 {
    position: absolute;
    height: 18px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase;  
    color: #6E7191;
    padding: 38px 40px 5px 99px;
}
.numbe3_1 {
    position: absolute;
    height: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #211F54;
}
.main_blok3_2 {
position: absolute;
height: 72px;
left: 36.8%;
right: 36.8%;
top: 0px;

}
.typ3_2 {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.6px;
    text-transform: uppercase; 
    color: #6E7191;
}
.hero-desktiption1 {
padding: 40px 0 5px 94px;
}
.desktiption1 {
    position: absolute;
    height: 36px;
    right: -0.45%;
    top: 43px;
    
}
.desktiption2 {
    padding: 40px 0 5px 94px;
}

.img3_2 {
    position: absolute;
    height: 72px;
    filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
    border-radius: 7px;
    padding: 32px 15px 40px 1px;
}
.hero-desktiption2 {
    position: absolute;
    height: 36px;
    padding: 40px 0 5px 94px;
}

.main_blok3_3 {
    position: absolute;
    height: 72px;
    left: 74.48%;
    right: 0%;
    top: 0px;
}
.img3_3 {
    position: absolute;
    height: 72px;
    left: 0.22%;
    right: 62.16%;
    top: calc(50% - 72px/2);
    filter: drop-shadow(0px 4px 10px rgba(20, 20, 43, 0.04));
    border-radius: 7px;
    padding: 32px 15px 0 84px;
}
.hero-desktiption3 {
position: absolute;
height: 18px;
padding: 38px 0 4px 172px;
}
.desktiption3 {
    position: absolute;
    height: 36px;
    padding: 40px 0 4px 172px;
}
.vg3_4 {
    position: absolute;
    height: 904px;
    padding: 40px 214px 481px 214px;
}
/*  main conteiner 4*/
.main_content4 {
    position: absolute;
    height: 672px;
    left: 5.97%;
    right: 5.97%;
    top: 3211px;
    
}

.main_blokk4 {
    position: absolute;
    height: 130px;
    left: 1.89%;
    right: 1.89%;
    top: 0px;
}
.tex_2 {
    position: absolute;
    height: 116px;
    left: 0%;
    right: 61.07%;
    top: 0px;
    
}
.hero-desktiption4 {
    position: absolute;
    width: 136px;
    height: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    -text-align: center;
    color: #211F54;
    padding: 55px 149px 55px 865px;
}
.main_blok4 {
    position: absolute;
    height: 494px;
    left: 1.89%;
    right: 1.89%;
    top: 178px;
}
.main_blok4_1 {
    position: absolute;
    height: 494px;
    left: 0%;
    right: 68.2%;
    top: 0px;
}
.img4 {
    position: absolute;
    width: 220px;
    height: 190px;
    left: calc(50% - 220px/2);
    top: calc(50% - 190px/2 - 69px);
    background: url(.png);
    border-radius: 0px;
}
.content4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    text-align: center; 
    color: #211F54;
}
.main__content4_1 {
    position: absolute;
    width: 171px;
    height: 34px;
    left: calc(50% - 171px/2 + 0.5px);
    bottom: 163px;
}
.my__text4_1 {
    position: absolute;
    width: 312px;
    height: 121px;
    left: calc(50% - 312px/2);
    bottom: 29px;
}
.main_blok4_2 {
    position: absolute;
    height: 494px;
    left: 34.1%;
    right: 34.1%;
    top: 0px;
    
}
.img4_1 {
    position: absolute;
    width: 220px;
    height: 224px;
    left: calc(50% - 220px/2);
    top: calc(50% - 224px/2 - 86px);
    background: url(.png);
    border-radius: 0px;
}
.main__content4_2 {
    position: absolute;
    width: 312px;
    height: 168px;
    left: calc(50% - 312px/2);
    bottom: 29px;
}
.my__text4_2 {
    position: absolute;
    width: 312px;
    height: 121px;
    left: calc(50% - 312px/2);
    bottom: 29px;
}
.main_blok4_3 {
    position: absolute;
    height: 494px;
    left: 68.2%;
    right: 0%;
    top: 0px;
}
.img4_2 {
    position: absolute;
    width: 250px;
    height: 200px;
    left: calc(50% - 250px/2);
    top: calc(50% - 200px/2 - 74px);
    background: url(.png);
    border-radius: 0px;
}
.main__content4_3 {
position: absolute;
width: 206px;
height: 34px;
left: calc(50% - 206px/2);
bottom: 163px;
white-space: nowrap

}
.my__text4_3 {
    position: absolute;
    width: 312px;
    height: 121px;
    left: calc(50% - 312px/2);
    bottom: 29px;
}